<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true">
  <extensions>
    <add assembly="NLog.Web.AspNetCore" />
  </extensions>

  <targets>
    <target xsi:type="File"
            name="applicationFile"
            fileName="${basedir}/logs/clinic-${shortdate}.log"
            createDirs="true"
            encoding="utf-8"
            layout="${longdate}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />

    <target xsi:type="File"
            name="errorsFile"
            fileName="${basedir}/logs/errors-${shortdate}.log"
            createDirs="true"
            encoding="utf-8"
            layout="${longdate}|${uppercase:${level}}|${logger}|trace=${aspnet-traceidentifier}|${aspnet-request-method} ${aspnet-request-url}|${message}${newline}${exception:format=tostring}" />
    
    <target xsi:type="Console" name="logConsole" 
            layout="${longdate}|${uppercase:${level}}|${message} ${exception:format=tostring}" />
  </targets>

  <rules>
      <logger name="*" minlevel="Info" writeTo="logConsole" />
      <logger name="Microsoft.*" maxlevel="Info" final="true" />
    <logger name="System.*" maxlevel="Info" final="true" />
    <logger name="*" minlevel="Info" writeTo="applicationFile" />
    <logger name="*" minlevel="Warn" writeTo="errorsFile" />
  </rules>
</nlog>
